@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  font-family: 'Inter', sans-serif;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0;
}

/* ------------------------------------------------------ LOADING SCREEN ------------------------------------------------------ */

.loader-con {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: white;
}
.loader-con.fade-out {
  opacity: 0;
  display: none;
}

.loader-dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
  display: flex;
  width: 6em;
  height: 6em;
}

.dots1, .dots2, .dots3 {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transform-origin: 50% 100%; 
  animation: bounce1 1s linear infinite; 
  background: rgb(26, 26, 26); 
}
.dots2 {
  animation-delay: 0.2s;
}
.dots3 {
  animation-delay: 0.4s;
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 40px));
  font-size: 16px;
  color: rgb(26, 26, 26);
}

@keyframes bounce1 {
  from, to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in; }
  45% {
    transform: translateY(50px) scale(1, 1);
    animation-timing-function: linear; }
  50% {
    transform: translateY(50px) scale(1.5, 0.5);
    animation-timing-function: linear; }
  55% {
    transform: translateY(50px) scale(1, 1);
    animation-timing-function: ease-out; } 
}


/* ------------------------------------------------------ NAVBAR ------------------------------------------------------ */

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-logo img {
  height: 30px;
  padding: 5px 0px;
}

.nav-logo p {
  margin: 0;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: default;
}

.nav-link {
  width: 100%;
  padding: 5px 20px;
  margin-right: 20px;
}

.nav-link ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.nav-link a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-size: 18px;
}

.nav-link:has(.fancy:hover) .link:not(.fancy:hover) {
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}

.nav-menu-btn {
  font-size: 24px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.nav-menu-btn ion-icon {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

/* NAVBAR ------------------------ DROPDOWN ------------------------ */
.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 73px;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 101;
  transition: all 0.5s ease-in-out;
}

.nav-dropdown.open {
  width: 40%;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.nav-menu-btn.open ion-icon {
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
}

.nav-dropdown ul {
  margin-top: 59px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 10px;
}

.nav-dropdown a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-size: 16px;
  line-height: 32px;
  padding: 15px;
  margin: 10px;
}

.nav-dropdown:has(.fancy:hover) .link:not(.fancy:hover) {
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}


/* ------------------------------------------------------ MAIN ------------------------------------------------------ */

/* MAIN ------------------------ WELCOME ------------------------ */
.welcome-con {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.welcome {
  margin-top: 30vh;
}

.welcome p {
  color: rgb(26, 26, 26);
  font-size: 5vw;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  text-transform: uppercase;
  cursor: default;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line:nth-child(2) {
  margin-left: 5vw;
}

.line:nth-child(3) {
  margin-left: 10vw;
}


#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
  cursor: default;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: rgb(26, 26, 26);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(120%, -30%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(13) {
  transform: translate(100%, 20%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(14) {
  transform: translate(90%, -40%) rotate(-10deg);
}

/* MAIN ------------------------ DESCRIPTION ------------------------ */
.description-con {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin: 10vh 0;
  padding: 30vh 0;
  font-family: 'Courier Prime', monospace;
  color: white;
}

.description {
  background-color: #272b33;
  border-radius: 7px;
}

.description-head {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.mac-btn {
  display: flex;
  gap: 4px;
  margin: 5px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.dot:first-child {
  background-color: #FF605C;
}
.dot:nth-child(2) {
  background-color: #FFBD44;
}
.dot:last-child {
  background-color: #00CA4E;
}

.file-title {
  margin: 0px 15px;
  padding: 10px;
  font-size: 22px;
  display: flex;
  align-content: center;
}

.file-title img {
  height: 22px;
  display: inline;
  margin: 0;
  margin-right: 8px;
}

.code-editor {
  display: flex;
  flex-direction: row;
  padding: 5px 50px 20px 50px;
}

.text-code {
  font-family: Consolas, "Courier New", monospace;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
}

.element-tag {
  color: #3ddf7b;
}

.text-tag {
  margin-left: 20px;
}

.tools-con {
  background-color: rgb(26, 26, 26);
  padding: 20vh 0;
  padding-bottom: 20vh;
}

.tools-con > h2 {
  font-size: 34px;
  padding: 30px 60px;
  margin-left: 10%;
  margin-bottom: 60px;
  color: white;
}

.tools-con > .tools-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.tools {
  width: 170px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.tools-logo {
  width: 120px;
  padding-top: 10px;
}

.tools > .text > h5{
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* MAIN ------------------------ PROJECT ------------------------ */
.project-con {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding: 20vh 0;
  background-color: rgb(26, 26, 26);
}

.project {
  background-color: #F5F5F5;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project-head {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px 7px 0 0;
}

.mac-btn-2 {
  display: inline-block;
  margin-left: 20px;
}

.project-title {
  text-align: center;
  flex-grow: 1;
  padding: 5px 0px;
  margin: 10px 25%;
  border-radius: 5px;
  background-color: #F2F2F2;
  color: #272b33;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 30px;
}

.project-card {
  color: rgb(26, 26, 26);
  padding: 20px;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  transition: all 0.2s ease-in-out;
}
.project-card img:hover {
  transform: scale(1.05);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.card-text {
  background-color: white;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
}

.card-text h1 {
  margin: 10px 0;
  font-size: 22px;
  align-items: center;
  text-transform: uppercase;
}

.card-text p {
  line-height: 1.2;
  margin: 10px 0;
}

.card-text .lang {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 15px;
}

.card-text h2 {
  margin: 0;
  padding: 5px 10px;
  border-radius: 25px;
}



/* ------------------------------------------------------ FOOTER ------------------------------------------------------ */

footer {
  background-color: rgb(26, 26, 26);
  width: 100%;
}

/* FOOTER ------------------------ CONTACT ------------------------ */
.contact-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  display: flex;
  padding: 0;
  margin: 20px;
}

.contact a {
  font-size: 32px;
  color: #8d8d8d;
  transition: all 0.2s ease-in-out;
}

.contact a:hover {
  color: white;
  font-size: 40px;
  transition: all 0.2s ease-in-out;
}

/* FOOTER ------------------------ COPYRIGHTS ------------------------ */
.copyright p {
  text-align: center;
  margin: 0;
  padding: 30px;
  color: #8d8d8d;
}


/* ------------------------------------------------------ RESPONSIVE ------------------------------------------------------ */

@media screen and (max-width: 992px) {
  .nav-link {
    display: none;
  }

  .nav-menu-btn {
    display: block;
  }
}

@media screen and (max-width: 728px) {
  .mac-btn,
  .mac-btn-2 {
    display: none;
  }

  .description-con,
  .project-con {
    display: flex;
  }

  .description,
  .project {
    margin: 0 10px;
  }

  .project-list {
    padding: 5px;
  }

  .tools-con {
    text-align: center;
  }

  .tools-con h2 {
    margin-left: 0;
  }
}

/* GLOBAL ANIMATION & COLOR */

.hidden {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s;
}
.show {
  opacity: 1;
  transform: translateX(0);
}

.html {
  background-color: #FC490B;
  color: white;
}
.css {
  background-color: #2196F3;
  color: white;
}
.js {
  background-color: #FFDF00;
}
