:root {
  --white: #ffffff;
  --black: #000000;
  --cream: #EBE0CC;
  --black2: #1C1C1C;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Geist', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(229, 221, 211, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  transition: var(--transition);
  font-size: 2rem;
  font-weight: 500;
}

.nav-link:hover {
  opacity: 0.7;
}

.hero {
  height: 100vh;
  width: 100vw;
  padding: 10rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-title {
  font-size: 15rem;
  font-family: 'Playfair Display', serif;
  line-height: 0.9;
  margin-bottom: 10rem;
}

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  font-size: 3rem;
  font-weight: 300;
}

.featured {
  overflow: hidden;
}

.accent-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.accent-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-wrapper {
  display: flex;
  width: max-content;
}

.scroll-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Geist', sans-serif;
  font-weight: 100;
  font-size: 10rem;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.project-card {
  position: relative;
  overflow: hidden;
  background-color: rgba(229, 221, 211, 0.1);
  transition: var(--transition);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0%) brightness(0.5) contrast(50%);
  transition: var(--transition);
}

.project-card:hover img {
  transform: scale(1.05);
  filter: saturate(100%) brightness(1) contrast(100%);
  cursor: pointer;
}

.project-card:hover {
  background-color: rgba(229, 221, 211, 0.2);
}


.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-divider {
  width: 100px;
  height: 2px;
  background-color: var(--white);
  border: none;
  margin-bottom: 2rem;
}

.section-title {
  font-family: "Geist", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.project-list {
  display: flex;
  gap: 1rem;
  font-family: 'Geist', sans-serif;
  overflow-x: auto; 
  white-space: nowrap;
  padding-bottom: 1rem;
  margin: 0px 1rem;
}

.project-list::-webkit-scrollbar {
  height: 8px;
}

.project-list::-webkit-scrollbar-thumb {
  background: rgba(229, 221, 211, 0.3);
  border-radius: 6px;
}

.project-list::-webkit-scrollbar-track {
  background: transparent;
}

.project-item {
  min-width: 400px;
  background-color: rgba(229, 221, 211, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  border: 2px solid #ffffff;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-item h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-item p {
  font-size: 1.2rem;
  white-space: wrap;
  text-align: justify;
  max-lines: 6;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.project-link {
  color: var(--white);
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-content: center;
  gap: 0.2rem;
  font-weight: 700;
  font-size: 1rem;
  margin: 4rem 0 1rem 0;
}

.project-link:hover {
  transition: var(--transition);
  color: var(--white);
  text-decoration: underline;
}

.graphic-design-projects {
  margin-top: 5rem;
}

.graphic-design-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 100%;
}

.graphic-design-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.graphic-design-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.graphic-design-item.small {
  grid-column: span 1;
  grid-row: span 1;
  aspect-ratio: 400 / 566;
}

.graphic-design-item.large {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 740 / 925;
}

.graphic-design-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.graphic-design-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.graphic-design-item:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.graphic-design-item:nth-child(6) {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.graphic-design-item:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}

.graphic-design-item:nth-child(4) {
  grid-column: 3;
  grid-row: 3;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}