.main {
  background-color: var(--cream);
  color: var(--black2);
  font-family: 'Geist', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  transition: var(--transition);
}

.navLink {
  color: var(--black2);
  text-decoration: none;
  transition: var(--transition);
  font-size: 2rem;
  font-weight: 500;
}

.navLink:hover {
  opacity: 0.7;
}

.navCream {
  color: var(--cream);
}

.navCream .navLink {
  color: var(--cream);
}

.navCream .logo img {
  content: url("/logo_cream.png");
}

.hero {
  height: 100vh;
  width: 100vw;
  padding: 10rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroTitle {
  font-size: 15rem;
  font-family: 'Playfair Display', serif;
  line-height: 0.9;
  margin-bottom: 10rem;
}

.heroContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heroSubtitle {
  font-size: 3rem;
  font-weight: 300;
}

.heroLink {
  color: var(--black2);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  transition: var(--transition);
}

.heroLink:hover {
  opacity: 0.7;
  transition: var(--transition);
}

.about {
  width: 100vw;
  padding: 0 2rem;
}

.aboutGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.aboutContent {
  font-size: 2rem;
  font-weight: 500;
  text-align: justify;
}

.first {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.second {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.social {
  background-color: var(--black2);
  padding: 1rem 2rem;
}


.socialGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  width: max-content;
  margin: auto;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 10rem;
  color: var(--cream);
  position: relative;
  transition: var(--transition);
}

.socialLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: var(--cream);
  transition: width 0.3s ease-in-out;
}

.socialLink:hover::after {
  width: 100%;
}


.linkedin { grid-column: 1 / 2; grid-row: 1 / 2; text-align: right; justify-content: right; }
.github   { grid-column: 1 / 2; grid-row: 3 / 4; text-align: right; justify-content: right; }
.upwork   { grid-column: 1 / 2; grid-row: 5 / 6; text-align: right; justify-content: right; }

.dribbble { grid-column: 2 / 3; grid-row: 2 / 3; text-align: left; justify-content: left; }
.behance  { grid-column: 2 / 3; grid-row: 4 / 5; text-align: left; justify-content: left; }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--black2);
  color: var(--cream); 
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.accentContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.accentContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.accentContainerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .heroTitle {
    font-size: 10rem;
  }

  .heroSubtitle {
    font-size: 2.5rem;
  }

  .heroLink {
    font-size: 2.5rem;
  }

  .socialGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    width: max-content;
    margin: auto;
  }
  
  .socialLink {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    font-size: 5rem;
    color: var(--cream);
    position: relative;
    transition: var(--transition);
  }

  .socialArrow{
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 430px) {
  .heroTitle {
    font-size: 5rem;
  }

  .heroContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heroSubtitle {
    font-size: 1.5rem;
  }

  .heroLink {
    font-size: 1.5rem;
  }

  .aboutGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .aboutContent {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
  }

  .socialGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    width: max-content;
    margin: auto;
  }
  
  .socialLink {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--cream);
    position: relative;
    transition: var(--transition);
  }

  .socialArrow{
    width: 48px;
    height: 48px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--black2);
    color: var(--cream); 
    align-items: center;
    padding: 10px;
    font-size: 0.5rem;
    font-weight: 500;
  }
}